:root {
  --primary-color: "black";
  --background-color: "white";
  --text-xs: 0.7rem;
  --text-sm: 1rem;
  --text-base: 2rem;
  --text-lg: 3rem;
  --text-xl: 5rem;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--text-xs);
  line-height: 1.5;
  font-weight: 300;
}

h4 {
  font-size: var(--text-sm);
  font-weight: 300;
}

h3 {
  font-size: var(--text-base);
  font-weight: 400;
}

h2 {
  font-size: var(--text-lg);
  font-weight: 500;
}

h1 {
  font-size: var(--text-xl);
  font-weight: 600;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
